@import url('http://fonts.cdnfonts.com/css/circular-std-book');

html{
	font-size: 1.591vh;
}


::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(130, 138, 145);
	border-radius: 24px;
}
